.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding: 12px 0 14px;
  border-bottom: 1px solid #BCA4FF;
  position: relative;
  margin-bottom: 39px;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 34px;
  line-height: 160%;
  color: #5f2eea;
  position: relative;
  z-index: 110;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #2a00a2;
  padding-top: 115px;
  z-index: 100;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 1s;
}


.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px
}

.nav-link {
  display: block;
  font-weight: 600;
  font-size: 20px;
  color: #af9aee;
  text-decoration: none;
  &:hover {
    color: #5f2eea;
    transition: 0.3s;
  }
}