.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.main {
  background: url(../../images/main_img.png) top right no-repeat;
  background-size: contain;
  padding-top: 228px;
  margin-bottom: 112px;
}

.main_block_text {
  margin-top: auto;
}

.main_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: 0.02em;
  color: #4e4b66;
  max-width: 366px;
  margin: 70px 0 20px;
}

.buttons {
  margin-top: 30px;
}

.main_link_1 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 20px 30px;
  border-radius: 40px;
  border: 2px solid #e1e1e1;
  width: 100%;
  display: inline;
  background: #5f2eea;
  margin-right: 20px;
}

.main_link_2 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #5f2eea;
  padding: 20px 30px;
  border-radius: 40px;
  border: 2px solid #5f2eea;
  width: 100%;
  display: inline;
  background: #fff;
}

.contact_block {
  background: url(../../images/bg.svg) center / cover no-repeat;
  border-radius: 40px;
  padding: 129px 20px 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 93px;
}

.contact_block_title {
  font-weight: 700;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  width: 100%;
  margin: 0 0 33px;
}

.contact_link {
  text-decoration: none;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #fcfcfc;
  text-transform: uppercase;
  padding: 15px 40px;
  border: 2px solid #fcfcfc;
  border-radius: 40px;
  margin: 0 auto;
}
